.project-card
{
    background: rgb(43, 39, 59, 0.7);
    border-radius: 0.5rem;
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 0.75rem;
    color: rgb(255, 255, 255);
}

.font-para-home {
    font-family: Ubuntu;
}

.font-project-heading {
    font-family: Montserrat;
}

.avatar-div{
    border-radius: 100%;
    box-sizing: border-box;
    height: 32px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 32;
    white-space: nowrap;
    align-items: center;
    vertical-align: middle;
    
    min-height: 1.75rem;
    min-width: 1.75rem;
    display: flex;
}