.auth-container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    max-width: 20rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    padding: 1.5rem;
    background: rgb(43, 39, 59, 0.7);
    border-radius: 0.5rem;
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 0.75rem;
    color: rgb(255, 255, 255);
}

.box-class {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    justify-content: center;
    padding: 1rem 0 0rem;
    background: rgb(43, 39, 59, 0.7);
    border-radius: 0.5rem;
}

.error-class {
    width: clamp(30rem, 30vw, 20rem);
}

.text-gradient {
    background-color: rgb(131, 58, 180);
    background-image: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.home-color {
    background: rgb(43, 39, 59, 0.7);
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 0.75rem;
}

.major-soc {
    display: inline-block;
    margin: 0 0 1em 0;
    color: #ffffff;
    background: #629DD1;
    width: 3em;
    height: 3em;
    font-size: 2em;
    text-align: center;
    line-height: 3em;
    border-radius: 100%;
    box-shadow: 0 0 0 10px #fff, 0 0 0 11px rgba(144, 144, 144, 0.25);
}

.row-soc {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.font-heading-home{
    font-family: 'Montserrat';
}

.font-para-home {
    font-family: 'Roboto';
}

.menu-height {
    height: calc(100% - 3rem);
    padding: 0;
    
}

.all-projects{
    width: calc(100% - 9rem);
}