@tailwing base;
@tailwind components;
@tailwind utilities;

body{
  background-image: url('./assets/bg.jpg');
  background-size: cover;
  margin: 0;
  /* padding-left: 0;
  /* padding-right: 0; */
  /* margin-left: 0; */
  /* margin-right: 0;  */
  /* background-position: top center; */
}